# TODO: Remove the below comment after obmondo_monitoring_status is added as facter
# --fail-on-warnings
--no-140chars-check
--no-parameter_order-check
--no-top_scope_facts
# --no-strict_indent
# --no-file_ensure