---
name: goreleaser

"on":
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          # This is required for the changelog to work correctly.
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6.0.0
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          version: "v2.12.7"
          args: release --clean --config .goreleaser-github.yaml --release-notes=.release-notes.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
